{% extends 'admin/master.html' %}
<!-- Title -->
{% block title %}Sales Summary{% endblock %}
<!-- block -->
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Sales</h1>
        <h2>{{gross_sales}} gross sales</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Transactions Per Day</h2>
        <canvas id="summaryCountChart" width="300" height="100"></canvas>
        <p>{{chart_count_missing_date}} transactions without a date</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Gross Sales per Day</h2>
        <canvas id="summarySalesChart" width="300" height="100"></canvas>
        <p>${{chart_gross_missing_date}} worth of transactions without a date</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
    var summaryChartData = JSON.parse('{{ summaryChartData|safe }}');
    console.log(summaryChartData)
</script>
<script src="{{ url_for('static', filename='js/summaryChart.js')}}" defer></script>
{% endblock %}