<!-- styles -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome.min.css') }}" />-->
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/layout.main.css') }}" />-->
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />-->
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.responsive.css') }}" />-->
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.quickfix.css') }}" />-->
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='libs/auto-complete/auto-complete.css') }}" />-->