<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap/bootstrap-3.1.1.min.js')}}" defer></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js')}}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}" defer></script> -->
<!-- <script type="text/javascript">
  $('img').addClass("img-responsive");
</script> -->